

@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>

@Html.ActionLink("Recipes", "Edit", new { })
@Html.ActionLink("Shopping List", "Edit", new { })
@Html.ActionLink("House Items", "Index", "HouseHoldItemsPages", new { })

