<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="COMP3000_SSharpeEntities" connectionString="metadata=res://*/Models.UserModel.csdl|res://*/Models.UserModel.ssdl|res://*/Models.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities1" connectionString="metadata=res://*/Models.HouseHoldModel.csdl|res://*/Models.HouseHoldModel.ssdl|res://*/Models.HouseHoldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities2" connectionString="metadata=res://*/Models.RoomModel.csdl|res://*/Models.RoomModel.ssdl|res://*/Models.RoomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities3" connectionString="metadata=res://*/Models.StorageSpace.csdl|res://*/Models.StorageSpace.ssdl|res://*/Models.StorageSpace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities4" connectionString="metadata=res://*/Models.HouseHoldItemModel.csdl|res://*/Models.HouseHoldItemModel.ssdl|res://*/Models.HouseHoldItemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities5" connectionString="metadata=res://*/Models.ItemModel.csdl|res://*/Models.ItemModel.ssdl|res://*/Models.ItemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities6" connectionString="metadata=res://*/Models.ItemTypeModel.csdl|res://*/Models.ItemTypeModel.ssdl|res://*/Models.ItemTypeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities7" connectionString="metadata=res://*/Models.ShoppingListModel.csdl|res://*/Models.ShoppingListModel.ssdl|res://*/Models.ShoppingListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities8" connectionString="metadata=res://*/Models.ShoppingListItemModel.csdl|res://*/Models.ShoppingListItemModel.ssdl|res://*/Models.ShoppingListItemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities9" connectionString="metadata=res://*/Models.RecipeModel.csdl|res://*/Models.RecipeModel.ssdl|res://*/Models.RecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities10" connectionString="metadata=res://*/Models.RecipeItemModel.csdl|res://*/Models.RecipeItemModel.ssdl|res://*/Models.RecipeItemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities11" connectionString="metadata=res://*/Models.ShoppingListItem.csdl|res://*/Models.ShoppingListItem.ssdl|res://*/Models.ShoppingListItem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities12" connectionString="metadata=res://*/Models.ShoppingListItemsModel.csdl|res://*/Models.ShoppingListItemsModel.ssdl|res://*/Models.ShoppingListItemsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities13" connectionString="metadata=res://*/Models.DesiredStockModel.csdl|res://*/Models.DesiredStockModel.ssdl|res://*/Models.DesiredStockModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMP3000_SSharpeEntities14" connectionString="metadata=res://*/Models.ShoppingListItems.csdl|res://*/Models.ShoppingListItems.ssdl|res://*/Models.ShoppingListItems.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=socem1.uopnet.plymouth.ac.uk;initial catalog=COMP3000_SSharpe;persist security info=True;user id=SSharpe;password=XtsC738*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>